﻿@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="#" target="_blank">About</a>
        <a href="#" target="_blank">Report a bug</a>
    </div>
    <div class="content px-4">        
        @Body
    </div>
</div>
