﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
         <img src="favicon.ico" width="30" height="30" class="d-inline-block align-top" />         
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="download">
                <span class="oi oi-cloud-download" aria-hidden="true"></span> Dowload Software
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="api">
                <span class="oi oi-code" aria-hidden="true"></span> API
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="documentation">
                <span class="oi oi-book" aria-hidden="true"></span> Documentation
            </NavLink>
        </li>

    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
