﻿@page "/api"

<div class="card">
    <h2 class="card-header">Api <small>v.1.0</small></h2>
    <div class="card-body">

        <h4>Minecraft Server Luancher Api</h4>
        <p>Yo can get infomation aboute the versions of the minecraft slf and the serverluancher here with this api urls.</p>
        <p>Remeber all api use the www.minecraft-server-luancher.com as the domain for the api. Eks: <kbd>http://www.minecraft-server-launcher.com/api/v1.0/minecraft</kbd>.</p>
        <hr />
        <h5 class="card-title">GET: /api/v1.0/minecraft</h5>
        <pre class="code-block">
        <code>
    [
        {
            "date": "2019-12-25T02:49:22.5461788+01:00",
            "version": "1.13.0"
        },
        {
            "date": "2019-12-25T02:49:22.5483515+01:00",
            "version": "1.13.1"
        },
        {
            "date": "2019-12-25T02:49:22.5484473+01:00",
            "version": "1.13.2"
        },
        {
            "date": "2019-12-25T02:49:22.5484505+01:00",
            "version": "1.14.0"
        },
        {
            "date": "2019-12-25T02:49:22.5484525+01:00",
            "version": "1.14.1"
        },
        {
            "date": "2019-12-25T02:49:22.5484544+01:00",
            "version": "1.14.2"
        },
        {
            "date": "2019-12-25T02:49:22.5484563+01:00",
            "version": "1.15.0"
        },
        {
            "date": "2019-12-25T02:49:22.5484582+01:00",
            "version": "1.15.1"
        }
    ]
            </code>
        <small>Reponse data type: json.</small>   
</pre>
        <p>Get all data as Minecraft:</p>
        <ul>
            <li><b>Version</b> Versions number at the Minecraft.</li>
            <li><b>Date</b> Date where Minecraft version are releast.</li>
        </ul>
        <h5 class="card-title">GET: /api/v1.0/minecraft/1.12.2</h5>
        <pre class="code-block">
        <code>
    {
        "date": "2019-12-25T02:46:22.2974215+01:00",
        "version": "1.15.1"
    }
            </code>
        <small>Reponse data type: json.</small>   
</pre>
        <p>Get all data as Minecraft:</p>
        <ul>
            <li><b>Version</b> Versions number at the Minecraft.</li>
            <li><b>Date</b> Date where Minecraft version are releast.</li>
        </ul>
        <hr />

        <h5 class="card-title">GET: /api/v1.0/minecraft-server-launcher</h5>
        <pre class="code-block">
            <code>
    [
        {
            "version": "1.0.0",
            "description": "Fix of all servers",
            "released": "2019-12-20T12:00:00",
            "software": "/downloads/v.1.0.0/download.zip",
            "source": "/downloads/v.1.0.0/download-source.zip",
            "isStable": true
        },
        {
            "version": "1.0.1",
            "description": "Fix of all servers",
            "released": "2019-12-20T12:00:00",
            "software": "/downloads/v.1.0.0/download.zip",
            "source": "/downloads/v.1.0.0/download-source.zip",
            "isStable": false
        }
    ]
            </code>
        <small>Reponse data type: json.</small>   
</pre>
        <p>Get all data as Minecraft Server Launcher:</p>
        <ul>
            <li><b>Version</b> Versions number at the Minecraft.</li>
            <li><b>Released</b> Date where Minecraft version are releast.</li>
            <li><b>Software</b> Link to where the software can be downloaded.</li>
            <li><b>Soruce</b> Link to where the source can be downloaded.</li>
            
        </ul>
    </div>
</div>

@code {

}
