﻿@page "/download"

@using MinecraftServerLuncherWebsite.Data
@inject DownloadService DownloadService



<div class="row row-cols-1 row-cols-md-3">

    @if (lastStable != null)
    {
        <div class="col mb-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Last stable version: @lastStable.Version</h5>
                    <p class="card-text">@lastStable.Description</p>
                    <hr />

                    @if (lastStable.Software != string.Empty)
                    {
                        <a href="@lastStable.Software" class="btn btn-success">Software <i class="oi oi-cloud-download"></i></a>
                    }

                    @if (lastStable.Source != string.Empty)
                    {
                        <a href="@lastStable.Source" class="btn btn-info">Source <i class="oi oi-script"></i></a>
                    }


                    <br />
                    <small>Software size: 256Mb / Source size: 1500Mb</small>
                </div>
            </div>
        </div>
    }

    @if (lastBeta != null)
    {
        <div class="col mb-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Last beta: @lastBeta.Version</h5>
                    <p class="card-text">@lastBeta.Description</p>
                    <hr />
                    @if (lastBeta.Software != string.Empty)
                    {
                        <a href="@lastBeta.Software" class="btn btn-success">Software <i class="oi oi-cloud-download"></i></a>
                    }

                    @if (lastBeta.Source != string.Empty)
                    {
                        <a href="@lastBeta.Source" class="btn btn-info">Source <i class="oi oi-script"></i></a>
                    }
                    <br />
                    <small>Software size: 256Mb / Source size: 1500Mb</small>
                </div>
            </div>
        </div>
    }

</div>
<br />


@* Tabele for dowload start *@
<table class="table table-light table-striped table-bordered table-responsive-sm">
    @* table head start *@
    <thead class="thead-dark">
        <tr>
            <th class="tab-pane">Version</th>
            <th>Description/Fixes</th>
            <th>Date</th>
            <th>Download</th>
        </tr>
    </thead>
    @* table head end *@
    @* table Body start *@
    <tbody>

        @foreach (var download in downloads)
        {
            <tr>
                <td title="Version number 12.21.123">@download.Version</td>
                <td>@download.Description</td>
                <td>@download.Released</td>
                <td width="240" title="dowload software">
                    @if (download.Software != string.Empty)
                    {
                        <a class="btn btn-success" href="@download.Software">Software <span class="oi oi-cloud-download"></span></a>
                    }

                    @if (download.Source != string.Empty)
                    {
                        <a class="btn btn-info" href="@download.Source">Source <span class="oi oi-script"></span></a>
                    }
                </td>
            </tr>
        }

    </tbody>
    @* table Body end *@
</table>
@* Tabele for dowload start *@


@* Pagination start *@
<nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item disabled"><span class="page-link">...</span></li>
            <li class="page-item"><a class="page-link" href="#">23</a></li>
            <li class="page-item"><a class="page-link" href="#">24</a></li>
            <li class="page-item"><a class="page-link" href="#">25</a></li>
            <li class="page-item"><a class="page-link" href="#">26</a></li>
            <li class="page-item"><a class="page-link" href="#">27</a></li>
            <li class="page-item disabled"><span class="page-link" >...</span></li>
            <li class="page-item"><a class="page-link" href="#">124</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
@* Pagination end *@

@code {
    ICollection<MinecraftServerLuncherWebsite.Data.Download> downloads;
    MinecraftServerLuncherWebsite.Data.Download lastStable;
    MinecraftServerLuncherWebsite.Data.Download lastBeta;

    /// <summary>
    /// Page loaded and initilalized.
    /// </summary>
    protected override void OnInitialized()
    {
        downloads = this.DownloadService.GetDownloads();
        lastStable = downloads.OrderBy(i => i.Released).FirstOrDefault(i => i.IsStable);
        lastBeta = downloads.OrderBy(i => i.Released).FirstOrDefault(i => !i.IsStable);
    }
}

