﻿@page "/"
@* Download last version jumbotron start *@
<div class="jumbotron">
    <h1 class="display-4">Download Minecraft-Server-Lunacher</h1>
    <p class="lead">Lastes version: v.10.20.306.5</p>
    <hr class="my-4">
    <p>Download the lastes version of the Minecraft-Server-Luancher here.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button"><span class="oi oi-cloud-download"></span> Software</a>
    <a class="btn btn-primary btn-lg" href="#" role="button"><span class="oi oi-script"></span> Source</a>
    <br />
    <small>Software size: 256Mb / Source size: 1500Mb</small>
</div>
@* Download last version jumbotron end *@