﻿
@page "/report"

    <div class="card">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">

            <div class="form-group">
                <label for="email">E-mail</label>
                <input placeholder="Type your e-mail here..." type="email" class="form-control" id="email" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
                <label for="description">Report types</label>
                
                <select class="form-control">
                    <optgroup label="God thigs">
                       <option>Idea to new functions</option>
                       <option>Idea to desigen and collors</option>
                       <option>Love it!</option>
                    </optgroup>
                    
                    <optgroup label="Problems">
                        <option>Bug</option>
                        <option>Chrash</option>                        
                        <option>Securuty risk</option>                        
                    </optgroup>
                </select>

            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea placeholder="Descript what your will report  here..." id="description" class="form-control"></textarea>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Send report <i class="oi oi-envelope-closed" ></i></button>

        </div>
    </div>


@code {

}
